body{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

/*
	=====================================
	Heder Area Style
	=====================================
*/
.batch10-header{
	overflow: hidden;
}
.header-item{
	float: right;
}
.batch10-login,
.batch10-search,
.nav.navbar-nav{
	float: left;
}
.batch10-header .navbar-default {
	background-color: #fff;
	border-color: #fff; 
} 
.batch10-header .navbar { 
	border: none; 
	border-radius: 0; 
}
.batch10-header .navbar-default .navbar-nav > li > a {
	color: #b2bebe;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 23px;
}

.batch10-search {
	background: #e2dee0;
	margin: 0;
	padding: 0;
	height: 75px;
	width: 80px;
	text-align: center;
}
.batch10-search a {
	color: #fff;
	font-size: 25px;
	display: inline-block;
	margin-top: 15px;
}
 
.batch10-login {
	background: #e94e38;
	height: 75px;
	text-align: center;
	width: 126px;
}
.batch10-login a {
	color: #fff;
	display: inline-block;
	font-size: 25px;
	margin: 14px;
	text-decoration: none;
	position: relative;
}
.batch10-login a::after {
	position: absolute;
	content: '';
	top: -14px;
	bottom: 0;
	left: 93px;
	right: 0;
	background: #e94e38;
	width: 2000px;
	height: 75px;
}

/*
	=====================================
	Intro Area Style
	=====================================
*/
.intro-section {
	background-image: url('../images/intro pic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -20px; 
}

.search-area {
	text-align: center; 
	margin-top: 60px;
	margin-bottom: 35px;
}
.intro-title{
	color: #fff;
	margin-bottom: 35px;
}
.intro-title .h3, h3 {
	font-size: 30px;
	font-weight: bold;
}
.search-area .input-lg { 
	border-radius: 30px;
	padding: 1px 25px;
}
 
.search-area .form-control {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.search-area .form-control::-web-kit-input-placeholder{
	color: #fff;
}
.search-area .form-control:-moz-placeholder{
	color: #fff;
}
.search-area .form-control::-moz-placeholder{
	color: #fff;
}
.search-area .form-control::-ms-placeholder{
	color: #fff;
}


.search-area .btn-group-lg > .btn, .btn-lg {
	border-radius: 30px;
	text-transform: uppercase; 
	padding: 15px 30px;
}
.btn-danger { 
	background-color: #e94e38; 
}
.select-icon{
	position: relative; 
}
.select-icon::after {
	position: absolute;
	content: "\f107";
	font-family: fontAwesome;
	top: 9px;
	bottom: 0;
	left: 208px;
	right: 0;
	color: #fff;
	font-size: 19px;
	pointer-events: none;
}

/*
	=====================================
	Filter Area Style
	=====================================
*/
.filter-area{
	margin: 15px;
}
.recommended,
.filter-custom-icon,
.show-map,
.filter{
	float: left;
}
.recommended ul{
	list-style: none; 
}
.recommended {
	padding-top: 16px;
}
.recommended ul li {
	display: inline-block;
	margin-right:20px;
}
.recommended ul li a {
	color: #e94e38;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
.recommended ul li a.abc {
	color: #ae7437;
	 
}

.filter-icon {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	color: #e94e38;
	font-size: 17px;
	text-align: center;
	appearance: none;
	-moz-appearance: none;
	-ms-appearane: none;
	-webkit-appearance: none;
	text-transform: uppercase;
	border: 1px solid #96a6a7;
}
.filter-custom-icon{
	position: relative; 
}
.filter-custom-icon::after {
	position: absolute;
	content: "\f107";
	font-family: fontAwesome;
	top: 9px;
	right: 20px;
	font-size: 22px;
	font-weight: bold;
	color: #96a6a7;
	pointer-events: none;
}
.show-map {
	margin-left: 20px;
	width: 150px;
	height: 49px;
	border-radius: 30px;
	text-align: center;
	color: #96a6a7;
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 14px;
	border: 1px solid #96a6a7;
	position: relative;
}
.show-map::after { 
	content: "\f041";
	font-family: fontAwesome;
	top: 13px;
	bottom: 0; 
	right: 13px;
	position: absolute;
}
.filter {
	list-style: none;
}
.filter li {
	display: inline-block;
	color: #b6c0c1;
	font-size: 20px;
	text-transform: uppercase;
}
.filter li a {
	display: inline-block;
	margin: 8px;
	font-size: 19px;
	background-color: #b6c0c1;
	display: inline-block;
	padding: 9px 12px; 
	border-radius: 50%;
	color: #fff;
}
.filter li a.icon-1{
	background-color: #1baf5d;
}
.filter li a.icon-4{
	background-color: #f19e1f;
}
.filter li a.icon-5{
	background-color: #88499c;
}
 
/*
	=====================================
	product Area Style
	=====================================
*/
.product-area.well{
	margin-top: -18px;
}
.single-product{
	height: 300px;
	background-color: #fff;
	text-align: center;

}
.product-pic{
	width: 100%;
	position: relative;
	border-bottom: 3px solid green;

}
.product-price {
	position: absolute;
	background-color: green;
	
	top: 7px;
	right: 7px;

	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 39%;
	width: 70px;
	padding: 5px;
	text-align: center;
}


.product-icon{
	background-color: green;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:2px solid #fff;
	position: absolute;
	top: 143px;
	bottom: 0px;
	left: 97px;
	right: 0px;
    z-index: 10;
}
.product-icon a{
	color:#fff;
	font-size: 30px;

}
.product-tittle{
  margin-top: 30px;
  text-align: center;
}
.product-tittle h3{
	font-size: 14px;
	color:#566375;

}
.product-cat {
	margin-top: 15px;
}
.product-cat a{
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #1baf5d;
	font-weight: bold;
	margin-top: 35px;
}
.product-star i{
	color:#f19e1f;
	font-size: 12px;
	letter-spacing: -4px;
}
.product-pic .photo1 {
	width: 262px;
}
.product-top{
	position: relative;
	
}
.product-hover{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(27,175,93,0.7);
	transform:scale(0);
	transition:1s;
}

.product-top:hover .product-hover{
	transform:scale(1);
}
.show-more {
	border: 3px solid #fff;
	width: 185px;
	padding: 5px;
	margin: 20px auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	border-radius: 27px;
	color: #fff;
}
.show-more>span:first-child{
	margin-right: 10px;
}
.product-hover > .product-star i {
	color: #fff;
	font-size: 19px;
	letter-spacing: -4px;
}
.product-hover > .product-star i:last-child{
	margin-left: 20px;
}
.product-area .row{
margin-bottom: 30px;
}
.col-md-6 .single-product .product-top img{
	height: 150px;
	width:100%;
}
.col-md-6 .single-product .img-circle {
	/* border: ; */
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.single-product .media-body,
.single-product .media-left,
.single-product .media-right {
	display: table-cell;
	vertical-align: top;
	text-align: left;
	padding-top: 38px;
    font-size:15px;
    color: #667181;

}
 .col-md-6 .single-product .product-icon {
	
	top: 122px;
	bottom: 0px;
	left: 25px;
	right: 0px;

}
.col-md-6 .single-product .media {
	
	padding-left: 25px;
}
.col-md-6 .single-product .h4, h4 {
	font-size: 16px;
	color: #667181;
	font-weight: bold;
	text-transform: uppercase;
}
.col-md-6 .single-product .product-star i {
	
	font-size: 18px;
	
	margin-bottom: 12px;
}
.load-more {
	text-align: center;
	color: #566375;
	font-size: 20px;
	text-decoration: underline;
	font-weight: bold;

}
.load-more i{
	margin-left: 3px;
}
.offer-area {
	margin-top: 90px;
	text-align: center;
}
.offer-icon {
	margin-top: 70px;
}
.offer-area h3 {
	
	color: #8a919c;
}
 .offer-area  span {
	color: #b2bcbd;
}
.offer-area  ul{
	list-style: none;

}
.offer-area  ul li{
	display: inline;
}
.offer-area ul li a {
	display: inline-block;
	font-size: 45px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	padding-top: 13px;
	margin-right: 40px;
	color:#9dacad;
	border: 1px solid #9dacad;
	position: relative;
}
.offer-area ul li a.active{
	border: 4px solid green;
	color: green;
}
.offer-area ul li a::after {
	position: absolute;
	background-color: #9dacad;
	content: "";
	top: 40px;
	left: 95px;
	width: 37px;
	height: 2px;
}
.offer-area ul li a.icon-5::after {
	position: absolute;
	background-color: red;
	content: "";
	top: 0px;
	left: 0px;
	width: 0px;
	height: 2px;
}
.reality {
	text-align: center;
}
.reality  h3 {
	color: green;
	margin-bottom: 30px;
	font-size: 24px;
}
.leaf-inbox {
	background-color: #1db05e;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	color: #fff;
	padding-top: 11px;
	margin-right: 20px;
	padding-left: 18px;
	font-size: 34px;
}
.media-pera{
	text-align: left;
}
/*
	=====================================
	product Area Style
	=====================================
*/
.footer-area {
	background-image: url('../images/footer-pic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -20px;
	
	padding-bottom: 70px;
}
.footer-area h3 {
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.input-group-addon:first-child {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	border-right: 0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.footer-form{
	position: relative;
	margin-bottom: 40px;
}
.footer-form .btn {
	position: absolute;
	top: 4px;
	right: 7px;
	z-index: 10;
	color: #fff;
}
 .footer-form .btn-lg {
	border-radius: 30px;
	text-transform: uppercase;
	padding: 11px 13px;
	font-weight: bold;
}
 .footer-form .input-lg {
	height: 60px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-top-right-radius: 33px;
	border-bottom-right-radius: 33px;
}
 .input-group .form-control {
	background-color: #595453;
}
.btn-danger {
	background-color: #e94e38;
}
.footer-area .form-control {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.footer-area .form-control::-web-kit-input-placeholder{
	color: #fff;
}
.footer-area .form-control:-moz-placeholder{
	color: #fff;
}
.footer-area .form-control::-moz-placeholder{
	color: #fff;
}
.footer-area .form-control::-ms-placeholder{
	color: #fff;
}
.footer-area .input-group-addon {
	border: none;
	font-size: 26px;
	padding-left: 40px;
}
.footer-area hr {
	border-top: 1px solid #626767;
}
 .footer-area ul {
	margin-top: 0;
	margin-bottom: 10px;
	list-style: none;
	color: #fff;
}
.footer-area ul a {
	color: #767572;
	text-decoration: none;
}
.footer-area ul li:nth-child(1) {
	border-bottom: 1px solid #fff;
	width: 81px;
}
.bottom-right li a {
	float: left;
	padding-right: 20px;
	font-size: 44px;
	color: #fff;
	padding-top: 10px;
	
}
.copy-right {
	float: right;
	
	margin-right: 128px;
	color: #fff;
	margin-top: 31px;
	font-weight: bold;
}